@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*Reset & root*/
* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-body-bg-color: #c6c4ba;
    --color-text-color: #463F3A;
    --color-gray-dark: #8A817C;
    --color-gray-light: #BCB8B1;
    --color-box-shadow: rgba(0, 0, 0, .1);
    
    --font-main: 'Poppins', sans-serif;

    --fs-xl: 3rem;
    --fs-600: 1.8rem;
    --fs-500: 1.2rem;
    --fs-400: 1rem;
}

body, #root {
    width: 100%;
    height: 100%;
}

body, input, textarea, a {
    color: var(--color-text-color);
    font-family: var(--font-main);
}

body {
    position: relative;
    background: var(--color-body-bg-color);
    font-size: 16px;
    line-height: 1;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    min-height: 100vh;
    width: 100%;
    padding: 50px 0;
}

/*Custom resets*/
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

::-moz-selection {
    color: var(--color-white);
    background: var(--color-text-color)
}
  
::selection {
    color: var(--color-white);
    background: var(--color-text-color)
}

::placeholder {
    color: var(--color-text-color);
    opacity: .5;
}


/* Main Content */
header h1 {
    font-size: var(--fs-xl);
}

main {
    border-radius: 20px;
    width: 90%;
    max-width: 450px;
    min-height: 200px;
    padding: 20px;
    background-color: var(--color-gray-dark);
    box-shadow: 0 0 20px 0 var(--color-box-shadow);
}

main > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.num-input {
    position: relative;
    caret-color: var(--color-white);
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 5px solid var(--color-white);
    width: fit-content;
    text-align: center;
    font-size: var(--fs-600);
    font-weight: bold;
}

input[type='button'] {
    padding: 5px 10px;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: var(--fs-500);
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    transition: transform .3s ease-out;
    background-color: var(--color-body-bg-color);
}

input[type='button']:hover {
    transform: scale(1.2);
}

input[type='button']:active {
    background-color: var(--color-gray-light);
}

.num-trans {
    padding: 10px 15px;
    max-height: 200px;
    border-radius: 10px;
    background-color: var(--color-gray-light);
    font-size: var(--fs-600);
    text-align: center;
    overflow-y: scroll;
}

.input-copy {
    /* display: none; */
    display: block;
}

.copy-popup {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 5px;
    bottom: 3px;
    left: 3px;
    padding: 10px;
    border-radius: 5px;
    font-size: var(--fs-500);
    background-color: var(--color-text-color);
    color: var(--color-body-bg-color);
    opacity: 0;
    transform: translateY(120%);
    transition: opacity .3s ease-out,
                transform .3s cubic-bezier(0, 0, 0, 1.9);
}

.copy-popup.active {
    opacity: 1;
    transform: translateY(0);
}

.ai-outline-check {
    stroke-width: 5%;
}

.empty {
    display: none;
}
